* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* EventForm.jsx css */

.form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions button[type="button"] {
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions button[type="button"]:hover {
  background-color: var(--color-gray-800);
}

/* EventItem.jsx css */
.eventi {
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
}

.eventi img {
  width: 30rem;
  border-radius: 4px;
}

.actionsi {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.actionsi a,
.actionsi button {
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.actionsi button {
  background-color: transparent;
  border: none;
  color: var(--color-primary-800);
}

/* EventsList.jsx css  */
.events_list {
  margin: 2rem auto;
  max-width: 40rem;
}

.elist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eitem a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
}

.eitem a:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
}

.eitem img {
  width: 33%;
  object-fit: cover;
}

.econtent {
  padding: 1rem;
}
.eitem h2 {
  margin: 0 0 1rem 0;
}

/* EventsNavigation.jsx css */
.enav_header {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.enav_list {
  display: flex;
  gap: 1rem;
}

.enav_list a {
  background-color: var(--color-gray-500);
  color: var(--color-gray-900);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.enav_list a:hover,
.enav_list a:active,
.enav_list a.active {
  background-color: var(--color-primary-600);
}

/* MainNavigation.jsx css */
.mnav_header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.mnav_list {
  display: flex;
  gap: 1rem;
}

.mnav_list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.mnav_list a:hover,
.mnav_list a.active {
  color: var(--color-primary-800);
}

.content {
  text-align: center;
}